<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elysium Login</title>
    <link rel="shortcut icon" href="{% static 'images/fav-icon.png' %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">

</head>
<body>
    <!-- Iniciar sesión formulario -->
    <div class=content>
        <form action="" method="POST">
            <h3>Login</h3>
            {% csrf_token %}
            {{ form }}
            <button>Iniciar Sesión</button>
            <h2>Allysium</h2>
        </form>
        </div>
    
</body>
</html>